<?xml version="1.0"?>

<model>
  <name>aiapaec</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Juan Carlos Cutipa Luque</name>
    <name>Diana Luz Huallpa Apaza</name>
    <name>Kevin Celso Luque Gutierrez</name>
    
    <email>jcutipalu@unsa.edu.pe</email>
    <email>dhuallpaa@unsa.edu.pe</email>
    <email>kluquegu@unsa.edu.pe</email>
  </author>

  <maintainer email="jcutipalu@unsa.edu.pe">Juan Cutipa</maintainer>
  <maintainer email="dhuallpaa@unsa.edu.pe">Diana Huallpa</maintainer>
  <maintainer email="kluquegu@unsa.edu.pe">Kevin Luque</maintainer>

  <author>Juan Cutipa</author>
  <author>Diana Huallpa</author>
  <author>Kevin Luque</author>

  <description>
    AUV AIAPAEC model with three thrusters
  </description>
</model>
